* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: 
  url(/src/img/fon.jpg);
background-size: cover;
background-repeat: no-repeat;
}


img {
  display: block;
  max-width: 100%;
}


.container{
 display: flex;
 justify-content: center;
 height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 188px;
	padding-bottom: 188px;
	
}
.box{
  max-width: 100%;
  height: 100vh;
	padding-top: 188px;
	padding-bottom: 188px;
	background-image: 
  url(/src/img/fon1\ \(1\).jpg);
background-size: cover;
background-repeat: no-repeat;
}

.btn{
font-size: xx-large;
width: 150px;
height: 150px;
border-radius: 40%;
color:blue;
margin-right: 20px;
}
.timer{
  display: flex;
}
.field{
  justify-content: space-around;
  gap: 20px;
}
.value{
font-size: 28;
  display: block;
  gap: 20px;
}
.label{
  font-size: 18px;
margin-right: 10px;
}