* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  
  
}

img {
  display: block;
  max-width: 100%;
}
.container{
 display: flex;
 justify-content: center;
 padding-top: 150px;
}

.btn{
background-color: aquamarine;
font-size: xx-large;
width: 150px;
height: 150px;
border-radius: 40%;
color:blue;
}
.timer{
  display: flex;
}
.field{
  /* display: block; */
  /* display: flex; */
  justify-content: space-around;
  gap: 20px;
}
.value{
font-size: 28;
  display: block;
  gap: 20px;
}
.label{
  font-size: 18px;
margin-right: 10px;
}